<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
mdl-layout--fixed-header">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title" style="line-height: 25px;">Выбор инструмента:</span>
        <nav class="mdl-navigation">

            <a class="mdl-navigation__link"
               *ngFor="#instrument of instrumentList"
               [ngClass]="{
                   'mdl-navigation__link--current': instrument.active
               }"
               (click)="changeActiveInstrument(instrument)"
               [attr.data-instrument-id]="instrument.id"
            >{{instrument.name}}</a>
            <button (click)="createTrack()">Создать дорожку</button>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="main">
                <div class="work-menu" *ngIf="activeInstrument">
                    <span class="title">Добавить:</span>
                    <button class="btn round"
                            title="Тип"
                            *ngFor="#sound of activeInstrument.sounds"
                            [ngClass]="{
                                'active': sound.active
                            }"
                            (click)="changeActiveSound(sound.name)"
                    >
                        <i [class]="mappingSoundNameToType(sound.name)"></i>
                    </button>
                    <!--<button class="btn round" title="Тип"><i class="type-2"></i></button>-->
                    <!--<button class="btn round active" title="Тип"><i class="type-3"></i></button>-->
                    <!--<button class="btn round" title="Тип"><i class="type-4"></i></button>-->
                    <span class="bpm-wrapper">
                        <span>BPM:</span>
                        <input type="text" [(ngModel)]="bpm" class="inp bpm">
                    </span>
                    <button
                            *ngIf="!isPlay"
                            (click)="play()"
                    >Play</button>
                    <button
                            *ngIf="isPlay"
                            (click)="stop()"
                    >Stop</button>
                    <button
                            *ngIf="havePermissionToEdit"
                            (click)="changeEditorMode(!isEditorMode)"
                    >{{ isEditorMode ? "Выкл. редактор" : "Вкл. редактор"}}</button>
                    <button
                            type="button" data-toggle="modal" data-target="#forkModal"
                            *ngIf="!isEditorMode"
                    >Создать копию</button>
                    <button
                            *ngIf="trackList[0]?.sectorList?.length > 1"
                            (click)="removeSector()"
                    >Удалить сектор</button>
                    <button
                            *ngIf="isEditorMode"
                            (click)="commitComposition()"
                    >Сохранить изменения</button>
                    <button
                            *ngIf="isEditorMode"
                            (click)="revertComposition()"
                    >Откатить изменения</button>
                </div>
                <div class="work-tabs-wrapper">
                    <!-- work tabs -->
                    <div class="work-tabs">
                        <div class="play" [style.transform]="linePosition" style="left:90px;" *ngIf="trackList[0]"></div>
                        <div class="track"
                             *ngFor="#track of trackList; #trackIndex = index"
                             [ngClass]="{
                                'active': track.instrument == activeInstrument
                             }"
                        >
                            <div class="name"
                                 (contextmenu)="removeTrackByIndex($event, trackIndex)"
                            >
                                <div [attr.alt]="track.instrument.name"
                                     (click)="changeActiveInstrument(track.instrument)"
                                     [attr.data-instrument-id]="track.instrument.id">{{track.instrument.name}}</div>
                            </div>
                            <div class="sector_wrapper">
                                <div class="sector" *ngFor="#sector of track.sectorList; #sectorIndex = index">
                                    <ul>
                                        <li *ngFor="#sector of sector.soundList; #soundIndex = index"
                                            (click)="addSound(track,sectorIndex, soundIndex)"
                                            (contextmenu)="removeSound($event, track, sectorIndex, soundIndex)">
                                            <i [class]="mappingSoundNameToType(sector.name)"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="add-sector" (click)="addSector()">
                                <span class="add-sector__symbol">+</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TRACKLIST:-->
                <!--<div>{{trackList|json}}</div>-->
            </div>
        </div>
    </main>
</div>
<!-- Modal -->
<div id="forkModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">В какую банду скопировать композицию?</h4>
            </div>
            <div *ngIf="user" class="modal-body">
                <div *ngFor="#member of user.members">
                    <a class="collection-item" (click)="forkComposition(member.band.id)" data-dismiss="modal">
                        <strong>{{member.band.name}}</strong> <br>
                    </a>
                </div>
                <br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>

    </div>
</div>
<chat-component *ngIf="havePermissionToEdit" [band]="composition.band"></chat-component>
