.page-content {
    margin-left: 20px;
}
.bpm-wrapper {
    margin-left: 20px;
}

.sector ul {
    padding-left: 0;
}

.mdl-navigation__link {
    cursor: pointer;
}

.mdl-navigation__link--current:hover {
    color: black !important;
}

.play {
    position: absolute;
    height: 100%;
    width: 2px;
    top: 0;
    background-color: #000000;
    z-index: 999999;
}

.sector li i {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
}
.sector li:hover i {
    color: red;
}

.work-tabs-wrapper {
    position: relative;
    width: 960px;
    padding-left: 20px;
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.work-tabs-wrapper::-webkit-scrollbar-track {
    background-color: #ffffff;
}
.work-tabs-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}
.work-tabs-wrapper::-webkit-scrollbar-thumb {
    background: #d9d4d2;
}
.work-tabs-wrapper.work-tabs-wrapper::-webkit-scrollbar-track {
    background-color: #ffffff;
}
.work-tabs-wrapper.work-tabs-wrapper::-webkit-scrollbar {
    height: 5px;
    background-color: #F5F5F5;
}
.work-tabs-wrapper.work-tabs-wrapper::-webkit-scrollbar-thumb {
    background: #f2e3b6;
}
.work-tabs {
    min-width: 100%;
}
.track {
    *zoom: 1;
    white-space: nowrap;
    margin-bottom: 1px;
}
.track:before,
.track:after {
    display: table;
    content: "";
}
.track:after {
    clear: both;
}
.track .name,
.track .sector {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}
.track .name {
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 70px;
    font-size: 11px;
    background-color: #eaecef;
}
.track .name div {
    line-height: 50px;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.track .name div:before {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
    filter: e(%('alpha(opacity=%d)', @opacity));
    position: absolute;
    content: attr(alt);
    background-color: #f99117;
    height: auto;
    line-height: 20px;
    color: #ffffff;
    margin-top: -20px;
    padding: 0 5px;
    font-size: 10px;
}
.track .name div:hover:before {
    opacity: 1;
    filter: e(%('alpha(opacity=%d)', @opacity));
}
.track .sector {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-right: 5px solid #7cbd5d;
    width: 800px;
}
.track .sector ul {
    height: 100%;
    display: table;
}
.track .sector ul li {
    position: relative;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-right: 1px solid #eaecef;
    display: table-cell;
    vertical-align: middle;
    width: 8px;
}
.track .sector ul li:nth-child(8n + 1) {
    background-color: #f6f2f1;
}
.track .sector ul li:hover {
    background-color: #e0ffc1;
    border-color: transparent;
}
.track .sector ul li:active {
    background-color: #ffcd53;
}
.track.fade {
    opacity: 0.3;
}
.track.fade i {
    color: #a6a2a1;
}
.track.active .name {
    background-color: #7cbd5d;
    color: #ffffff;
}

button,
.btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2e3b6;
    border: 1px solid #d9b777;
    color: #8c6d51;
    line-height: 20px;
    padding: 0px 5px;
    cursor: pointer;
}
button:hover,
.btn:hover {
    background-color: #d9b777;
}
button:active,
.btn:active {
    -webkit-box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
}
button.green,
.btn.green {
    background-color: #7cbd5d;
    color: #ffffff;
    border-color: #72b353;
}
button.green:hover,
.btn.green:hover {
    background-color: #90d171;
}
button.red,
.btn.red {
    background-color: #cf282d;
    color: #ffffff;
    border-color: #a70005;
}
button.red:hover,
.btn.red:hover {
    background-color: #ff2b2b;
}
button.round,
.btn.round {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    border-color: #eaecef;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
button.round:hover,
.btn.round:hover {
    background-color: #7cbd5d;
    border-color: #68a949;
    color: #ffffff;
}
button.round.active,
.btn.round.active {
    color: #7cbd5d;
    border-color: #68a949;
    background-color: #e0ffc1;
}
button:disabled,
.btn:disabled,
button:disabled:hover,
.btn:disabled:hover,
button:disabled:active,
.btn:disabled:active {
    background-color: #d6d8db !important;
    color: #f5f5f5 !important;
    border-color: #e0e2e5 !important;
}
i {
    width: 20px;
    height: 20px;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-style: normal;
    position: relative;
    line-height: 20px;
}
i:before {
    text-align: center;
    line-height: inherit;
    display: block;
    position: absolute;
    font-style: inherit;
    font-size: 20px;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
}
i.empty {
    width: 0;
}
i.hi:before {
    content: '\25CF';
}
i.lo:before {
    content: '\25CB';
}
i.mid:before {
    content: '\25B2';
}
i.type-1:before {
    content: '\25CF';
}
i.type-2:before {
    content: '\25CB';
}
i.type-3:before {
    content: '\25B2';
}
i.type-4:before {
    content: '\25B3';
}