<div class="col xl2 l3 m3 s3 col-menu">
    <div class="card silver">
        <div class="card-content">
            <div class="card-header">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">keyboard_arrow_up</i></span>

            </div>
            <ul class="collection no-margin silver collection__special">
                <li class="collection-item">
                    <div class="collection-item__icon">
                        <i class="material-icons">queue_music</i>
                    </div>
                    <div class="collection-item__name">
                        <div class="collection-item__title">
                            <span class="link">Drums Drums</span>
                        </div>
                    </div>
                    <div class="collection-item__secondary double">
                        <i class="material-icons clickable">play_arrow</i>
                        <i class="material-icons clickable">add</i>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="collection-item__icon">
                        <span class="avatar">
                            <img src="img/ava.jpg">
                        </span>
                    </div>
                    <div class="collection-item__name">
                        <div class="collection-item__title">Петрович</div>
                        <div class="comment">Изменено там что-то</div>
                        <div class="comment">2 часа назад</div>
                    </div>
                    <div class="collection-item__secondary">
                        <i class="material-icons clickable">check_circle</i>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="collection-item__icon">
								<span class="avatar">
									<img src="img/ava.jpg">
								</span>
                    </div>
                    <div class="collection-item__name">
                        <div class="collection-item__title">Череззаборногузадерищенский Котейко</div>
                        <div class="comment">Изменено там что-то</div>
                        <div class="comment">2 часа назад</div>
                    </div>
                    <div class="collection-item__secondary">
                        <i class="material-icons clickable">check_circle</i>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="collection-item__icon">
                        <i class="material-icons">queue_music</i>
                    </div>
                    <div class="collection-item__name">
                        <div class="collection-item__title">
                            <a href="#" class="link">Drums Drums</a>
                        </div>
                        <div class="comment">Изменено там что-то</div>
                        <div class="comment">2 часа назад</div>
                    </div>
                    <div class="collection-item__secondary">
                        <i class="material-icons">check</i>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="collection-item__icon">
                        <i class="material-icons">queue_music</i>
                    </div>
                    <div class="collection-item__name">
                        <div class="collection-item__title">Drums</div>
                    </div>
                    <div class="collection-item__secondary double">
                        <i class="material-icons">content_copy</i>
                        <i class="material-icons">more_vert</i>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="card silver">
        <div class="card-content">
            <div class="card-header">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">keyboard_arrow_up</i></span>

            </div>
            <ul class="collection no-margin silver collection__special">
                <li class="collection-item">
                    <div class="collection-item__icon">
                        <i class="material-icons">queue_music</i>
                    </div>
                    <div class="collection-item__name">
                        <div class="collection-item__title">
                            <span class="link">Drums Drums</span>
                        </div>
                    </div>
                    <div class="collection-item__secondary double">
                        <i class="material-icons clickable">play_arrow</i>
                        <i class="material-icons clickable">add</i>
                    </div>
                </li>


                <li class="collection-item">
                    <div class="collection-item__icon">
                        <i class="material-icons">queue_music</i>
                    </div>
                    <div class="collection-item__name">
                        <div class="collection-item__title">
                            <a href="#" class="link">Drums Drums</a>
                        </div>
                        <div class="comment">Изменено там что-то</div>
                        <div class="comment">2 часа назад</div>
                    </div>
                    <div class="collection-item__secondary">
                        <i class="material-icons">check</i>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="collection-item__icon">
                        <i class="material-icons">queue_music</i>
                    </div>
                    <div class="collection-item__name">
                        <div class="collection-item__title">Drums</div>
                    </div>
                    <div class="collection-item__secondary double">
                        <i class="material-icons">content_copy</i>
                        <i class="material-icons">more_vert</i>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="col xl10 l9 m9 s9 col-board">

    <div class="card silver">
        <div class="card-content">
            <div class="card-header">
                <div class="playboard-header">
                    <div class="playboard-header__left">
									<span class="play">
										<i class="material-icons">play_circle_filled</i>
									</span>
									<span class="bpm">
										<span class="bpm__title">BPM</span>
										<span class="bpm__beat"><input type="text" class="inp-underlined" value="120"></span>
									</span>
                        <div class="icon-add">
                            <span class="step"><span class="icon circle"></span></span>
                            <span class="step"><span class="icon circle fill"></span></span>
                            <span class="step"><span class="icon triangle"></span></span>
                            <span class="step"><span class="icon triangle fill"></span></span>
                        </div>
                    </div>
                    <div class="playboard-header__right">
									<span class="sound">
										<i class="material-icons clickable">volume_up</i>
									</span>
									<span class="edit link link-grey">
										Edit
									</span>
                        <div class="switch">
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="playboard">

                <div class="playhead" [style.transform]="linePosition" style="left:180px;"></div>

                <div class="playboard__container">
                    <div class="playboard__inner">
                        <div class="playboard-track">
                            <div class="playboard-track__info">
                                <div class="track-brd">
                                    <div class="playboard-track__avatar">
                                        <div class="avatar"><img src="img/ava.jpg"></div>
                                    </div>
                                    <div class="playboard-track__ruler">
                                        <div class="name"><span class="link">BongoBongoBongo</span></div>
                                        <div class="volume">
                                            <input type="range">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="playboard-track__track">
                                <div class="track">
                                    <div class="track__segment">
                                        <div class="track-brd">
                                            <span class="icon circle fill"></span>
                                            <span class="icon circle fill"></span>
                                            <span class="icon circle fill"></span>
                                            <span class="icon circle fill"></span>
                                        </div>
                                    </div>
                                    <div class="track__segment" data-num="1">
                                        <div class="track-brd">
                                            <span class="icon circle"></span>
                                            <span class="icon circle"></span>
                                            <span class="icon circle"></span>
                                            <span class="icon circle"></span>
                                        </div>
                                    </div>
                                    <div class="track__segment">
                                        <div class="track-brd">
                                            <span class="icon triangle fill"></span>
                                            <span class="icon triangle fill"></span>
                                            <span class="icon triangle fill"></span>
                                            <span class="icon triangle fill"></span>
                                        </div>
                                    </div>
                                    <div class="track__segment"  data-num="2">
                                        <div class="track-brd">
                                            <span class="icon circle"></span>
                                            <span class="icon circle"></span>
                                            <span class="icon"></span>
                                            <span class="icon circle"></span>
                                        </div>
                                    </div>
                                    <div class="track__segment">
                                        <div class="track-brd">
                                            <span class="icon trianle"></span>
                                            <span class="icon circle"></span>
                                            <span class="icon triangle fill"></span>
                                            <span class="icon circle"></span>
                                        </div>
                                    </div>
                                    <div class="track__segment"  data-num="3">
                                        <div class="track-brd">
                                            <span class="icon trianle"></span>
                                            <span class="icon circle"></span>
                                            <span class="icon triangle fill"></span>
                                            <span class="icon circle"></span>
                                        </div>
                                    </div>
                                    <div class="track__segment">
                                        <div class="track-brd">
                                            <span class="icon circle"></span>
                                            <span class="icon circle"></span>
                                            <span class="icon"></span>
                                            <span class="icon circle"></span>
                                        </div>
                                    </div>
                                    <div class="track__segment"  data-num="4">
                                        <div class="track-brd">
                                            <span class="icon trianle"></span>
                                            <span class="icon circle"></span>
                                            <span class="icon triangle fill"></span>
                                            <span class="icon circle"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="playboard__ruler">
                    <i class="material-icons clickable">add_circle</i>
                    <i class="material-icons clickable">remove_circle</i>
                </div>
            </div>

        </div>
    </div>
</div>