<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
mdl-layout--fixed-header">

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title" style="line-height: 25px;">Выбор инструмента:</span>
        <nav class="mdl-navigation">

            <a class="mdl-navigation__link"
               *ngFor="#instrument of instrumentList"
               [ngClass]="{
               'mdl-navigation__link--current': instrument.active
               }"
               (click)="changeActiveInstrument(instrument)"
               [attr.data-instrument-id]="instrument.id"
            >{{instrument.name}}</a>
            <button>Создать дорожку</button>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="main">
                <div class="work-menu">
                    <span class="title">Добавить:</span>
                    <button class="btn round" title="Тип"><i class="type-1"></i></button>
                    <button class="btn round" title="Тип"><i class="type-2"></i></button>
                    <button class="btn round active" title="Тип"><i class="type-3"></i></button>
                    <button class="btn round" title="Тип"><i class="type-4"></i></button>
                    <span class="bpm-wrapper">
                        <span>BPM:</span>
                        <input type="text" [(ngModel)]="bpm" class="inp bpm">
                    </span>
                    <button>Play</button>
                </div>
                <div class="work-tabs-wrapper">
                    <!-- work tabs -->
                    <div class="work-tabs">
                        <div class="play" style="left:40px;"></div>
                        <div class="track" *ngFor="#track of trackList">
                            <div class="name">
                                <div [attr.alt]="track.instrument.name">{{track.instrument.name}}</div>
                            </div>
                            <div class="sector">
                                <ul>
                                    <li *ngFor="#sector of track.sectorList; #i = index"
                                        (click)="addSound(track,i)">
                                        <i [class]="mappingSoundValToType(sector)"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>