<div id="live-chat" (keyup.enter)="sendMessage($event)">
    <div class="card" style="margin-bottom: 0px">
    <header class="clearfix" (click)="toggleChat()">
        <h4>{{band.name}}</h4>

        <span class="chat-message-counter">3</span>
    </header>

    <div class="chat"
         [ngClass]="{chat_collapse: isCollapseChat}">

        <div class="chat-history">
            <div *ngFor="#message of messages">
            <div  class="chat-message">

                <img
                    [src]="message.author.avatar ? message.author.avatar : '/img/default_avatar.jpg'"
                    [routerLink]="['UserDetail', {'id': message.author.id}]"
                     alt="" width="32" height="32">

                <div class="chat-message-content">

                    <span class="chat-time">{{message.datetime}}</span>

                    <h5>{{message.author.first_name}} {{message.author.last_name}}</h5>

                    <p>{{message.text}}</p>

                </div> <!-- end chat-message-content -->

            </div> <!-- end chat-message -->
            <hr>
            </div>
        </div> <!-- end chat-history -->

        <form action="#" method="post">

            <fieldset>

                <input type="text" placeholder="Type your message…" [(ngModel)]="messageInput" autofocus>
                <input type="hidden">

            </fieldset>

        </form>

    </div> <!-- end chat -->
    </div>
</div> <!-- end live-chat -->


<!--<div class="chat-box" (keyup.enter)="sendMessage($event)">-->
    <!--<input type="checkbox" />-->
    <!--<label data-expanded="Close Chatbox" data-collapsed="Open Chatbox"></label>-->
    <!--<div class="chat-box-content">-->
        <!--<div *ngFor="#message of messages">-->
            <!--{{message}}-->
        <!--</div>-->
        <!--<input type="text" [(ngModel)]="messageInput" />-->
    <!--</div>-->
<!--</div>-->
