<div class="pen-title">
    <h1>JaTumba</h1>
</div>
<div class="container">
    <div class="card"></div>
    <div class="card">
        <h1 class="title">Регистрация</h1>
        <form>
            <div class="input-container">
                <input type="text" id="Username" [(ngModel)]="_login" required="required"/>
                <label for="Username">Имя пользователя</label>
                <div class="bar"></div>
                {{username_error}}
            </div>
            <div class="input-container">
                <input type="password" id="Password" [(ngModel)]="_password" required="required"/>
                <label for="Password">Пароль</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="RepeatPassword" required="required"/>
                <label for="RepeatPassword">Повторите пароль</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <button (click)="register()"><span>Зарегаться</span></button>
            </div>
            <div class="footer"><a [routerLink]="['Login']">Назад</a></div>
        </form>
    </div>
</div>