<h1>Пользователи</h1>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 m9 l10">
                <div class="collection">
                    <div>
                        <div *ngFor="let user of userList">
                            <div class="col s12 m7">
                                <h2 class="header">{{user.first_name}} {{user.last_name}}</h2>
                                <div class="card horizontal">
                                    <div class="card-image">
                                        <img [src]="user.avatar ? user.avatar : '/img/default_avatar.jpg'">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content">
                                            <div *ngIf="user.vk_profile">
                                                <p>
                                                    <a href="http://vk.com/id{{user.vk_profile}}">Вконтакте</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-action">
                                            <a class="collection-item"
                                               [routerLink]="['UserDetail', {'id': user.id}]">
                                                <strong>{{user.username}}</strong> <br>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>