<div class="container">
    <div class="row band_list_navigation" (keyup.enter)="searchUser($event)"
         style="margin-top: 30px;">
        <div class="input-field col s6" style="margin-top: 0">
            <i class="material-icons prefix" style="margin-top: 13px;">search</i>
            <input placeholder="User name" id="user_name" type="text" class="validate"
                   [(ngModel)]="searchInput">
        </div>
    </div>
    <div class="row">
        <div class="collection collection_no-border" masonry>
            <div class="col user-profile-card" *ngFor="#user of userList" masonryItem>
                <div class="card">
                    <div class="card-image">
                        <img [src]="user.avatar ? user.avatar : '/img/default_avatar.jpg'">
                        <span class="card-title">{{user.first_name}} {{user.last_name}}</span>
                    </div>
                    <div class="card-content" *ngIf="user.vk_profile || user.fb_profile">
                        <p>
                            <a href="http://vk.com/id{{user.vk_profile}}" *ngIf="user.vk_profile">VK</a>
                            <a href="https://facebook.com/{{user.fb_profile}}" *ngIf="user.fb_profile">FB</a>
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="collection-item"
                           [routerLink]="['UserDetail', {'id': user.id}]">{{user.username}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="additional_loader loop-icon-container" (click)="loadNextPage()">
            <i class="material-icons clickable grey-text" style="margin-top: 12px;">loop</i>
        </div>
    </div>
</div>
