<div class="row" style="margin-top: 15px;">
    <div class="col s8 offset-s2">
        <div class="card band-list_card">
            <div class="card-content">
                <div *ngFor="let band of bandList" class="band_list_item">
                    <a [routerLink]="['BandDetail', {'id': band.id}]"><h5 class="band_name">{{band.name}}</h5></a>
                    <p style="margin-bottom: 10px;">{{band.description}}</p>
                    <div class="user_counter">
                        <i class="tiny material-icons user_counter">perm_identity</i> <p class="user_counter">{{band.members_count}}</p>
                        <i class="tiny material-icons user_counter">queue_music</i> <p class="user_counter">{{band.compositions_count}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>