<div class="row" style="margin-top: 15px;">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="row band_list_navigation" (keyup.enter)="searchBand($event)">
                <div class="input-field col s6" style="margin-top: 0px">
                    <i class="material-icons prefix" style="margin-top: 13px;">search</i>
                    <input placeholder="Band name" id="band_name" type="text" class="validate" [(ngModel)]="searchInput">
                </div>
                <i (click)="openNewBandDialogue()" class="material-icons small grey-text clickable" style="float: right; margin-top: 15px; margin-right: 10px">add</i>
            </div>
            <div class="band-list_card">
                <div class="card-content">
                    <template [ngIf]="bandList?.length">
                    <div *ngFor="#band of bandList" class="band_list_item">
                        <a [routerLink]="['BandDetail', {'id': band.id}]"><h5 class="band_name">{{band.name}}</h5></a>
                        <p style="margin-bottom: 10px;">{{band.description}}</p>
                        <div class="user_counter">
                            <i class="tiny material-icons user_counter">perm_identity</i> <p class="user_counter">{{band.members_count}}</p>
                            <i class="tiny material-icons user_counter">queue_music</i> <p class="user_counter">{{band.compositions_count}}</p>
                        </div>
                    </div>
                    </template>
                    <div *ngIf="!bandList?.length && isListLoaded" style="color: #999">
                        No bands were found. How about <a (click)="openNewBandDialogue()">adding one</a>?
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-fixed-footer" id="band_create_modal">
        <div class="modal-content">
            <h4>Create new band</h4>
            <div class="row">
            <div class="input-field col s8">
                <input id="composition_name" type="text" class="validate" [(ngModel)]="new_band_name">
                <label for="composition_name">Name</label>
            </div>
            </div>
            <div class="input-field col s8">
                <textarea id="description" class="materialize-textarea" [(ngModel)]="new_band_description"></textarea>
                <label for="description">Description</label>
            </div>
        </div>
        <div class="modal-footer">
            <a (click)="createBand()" class=" modal-action modal-close waves-effect waves-green btn-flat">Create</a>
            <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>
</div>