<div *ngIf="user" class="row">
    <div class="col s6 offset-s3">
        <div class="card" style="padding-bottom: 30px;">
            <div class="card-content">
                <div class="row">
                    <div class="col s3">
                        <img class="avatar" style="width: 100px; height: 100px; float: right" [src]="user.avatar ? user.avatar : '/img/default_avatar.jpg'">
                    </div>
                    <div class="col s8">
                        <h5 style="color: #fb1a51">@{{user.username}}</h5>
                        <h6 style="color: #ddd;">{{user.first_name}} {{user.last_name}}</h6>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="compositions?.length || isCanEdit">
                <div class="col s3">
                    <p class="user_property" style="margin-top: 4px;">Bands</p>
                </div>
                <div class="col s8">
                    <template [ngIf]="compositions?.length">
                    <div *ngFor="#member of user.members" class="chip" style="margin-right: 5px; margin-bottom: 5px; cursor: pointer;" [routerLink]="['BandDetail', {'id': member.band.id}]">
                        {{member.band.name}}
                    </div>
                    </template>
                    <div *ngIf="!compositions?.length" class="chip" style="cursor: pointer" [routerLink]="['BandList']">
                        Find yourself a band
                        <i class="close material-icons">add</i>
                    </div>
                </div>
            </div>
            <div *ngIf="user.fb_profile || user.vk_profile" class="row">
                <div class="col s3">
                    <p class="user_property">Social</p>
                </div>
                <div class="col s8">
                    <div *ngIf="user.vk_profile">
                        <a href="https://vk.com/id{{user.vk_profile}}">
                            vk.com/id{{user.vk_profile}}
                        </a>
                    </div>
                    <div *ngIf="user.fb_profile">
                        <a href="https://facebook.com/{{user.fb_profile}}">
                            facebook.com/{{user.fb_profile}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="compositions?.length">
                <div class="col s3">
                    <p class="user_property">
                        Latest tracks
                    </p>
                </div>
                <div class="col s8">
                    <div *ngFor="#composition of compositions">
                        <a>{{composition.name}}</a> <p style="display: inline-block; color: #ddd; font-size: 10px;">edited 2h ago</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

